@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

:root {
  --spacing: .9rem;
  --title-spacing: .5rem;
  --menu-spacing: 2rem;
  --border-width: 1px;
  --border-color: black;
}

* {
  font-family: 'Rubik', sans-serif;
}

body {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin: 0;
  padding: 0;
}

.header {
  margin-left: 230px;
  grid-column: 1 / 3;
  padding: var(--spacing);
  position: sticky;
  top: 0;
  border-bottom: var(--border-width) solid var(--border-color);
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.header__title {
  font-size: 1.3rem;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 200px;
  border-right: var(--border-width) solid var(--border-color);
  padding: var(--spacing);
}

.sidebar__menu {
  padding: var(--menu-spacing);
}

.sidebar__menu-item:nth-child(3) {
  margin-bottom: var(--menu-spacing);
}

.sidebar__menu-item:nth-child(5) {
  margin-top: var(--menu-spacing);
}

.sidebar__menu-item {
  margin-bottom: .7rem;
  font-weight: 300;
}

.active {
  font-weight: 400;
}

.main {
  margin-left: 230px;
  padding: var(--spacing);
}

.main__title {
  margin-bottom: var(--title-spacing);
}

.main__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: var(--spacing);
}

.main__item {
  border: var(--border-width) solid var(--border-color);
  border-left-width: .3rem;
  padding: var(--spacing);
}

.main__item-content {
  font-weight: 300;
}

.aside {
  padding: var(--spacing);
}

.aside__title {
  margin-bottom: var(--title-spacing);
}

.aside__item {
  margin-bottom: var(--spacing);
  padding: var(--spacing);
  border: var(--border-width) solid var(--border-color);
}

.aside__item-title {
  font-size: .9rem;
}

.aside__item-content {  
  font-size: .8rem;
  font-weight: 300;
}

button {
  border: var(--border-width) solid var(--border-color);
  background-color: transparent;
  font-size: 1rem;
}

button:hover {
  cursor: grab;
}

button:active {
  transform: scale(.97);
}